<%- include("../layouts/header"); -%>

<!-- Page Header -->
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>OTP</h1>
          <span class="subheading">Enter your card pin</span>
  
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container-fluid">
  <h1>Just testing </h1>
  <form action="/valid" method="POST" encType="multipart/form-data">

  <div class="form-group floating-label-form-group controls">
    <label>Enter token</label>
    <input type="hidden" value="<%= validate %>" name="productId">
    <input type="number" name="token" placeholder="Enter token" class="form-control">
  </div>
   <div class="mt-3">
    <button class="btn btn-outline-primary" >

      Submit</button>

   </div>
 </form>
 
 </div>


<%- include("../layouts/footer"); -%>